<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548555097194-mqv2m3i85r44ofippd71sfg5rqdqt5bq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548555097194-mqv2m3i85r44ofippd71sfg5rqdqt5bq</string>
	<key>API_KEY</key>
	<string>AIzaSyDWda8nWfzCtbEFkPjsVGTQiUZ99r6o4Ag</string>
	<key>GCM_SENDER_ID</key>
	<string>548555097194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aikampo.app</string>
	<key>PROJECT_ID</key>
	<string>aikampo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>aikampo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548555097194:ios:26d3919372b37683c47613</string>
</dict>
</plist>